Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Environment/LandscapeMaterials/Landscape
Content/Environment/LandscapeMaterials/Noise
Content/Environment/WeatherSystem/Materials
Content/Environment/WeatherSystem/Sound
Content/Environment/WeatherSystem/Textures
Content/Environment/WeatherSystem/Particles
Content/Environment/MegaScansTrees
